.container {
  width: 60%;
  background: #fff;
  box-shadow: 0 0 5px 0 #00000080;
  margin: 10px auto 10px auto !important;
  min-height: 100vh;
}

.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background: #f3f3f3;
  border: none !important;
  box-shadow: 0 0 5px 0 #00000080;
}
