@import "colors";
.headerContainer {
  width: 100vw;
  height: 120px;
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  box-shadow: #ffffff4d 0px 1px 2px 0px, #bfbfbf26 0px 1px 3px 1px;
  .logoDiv {
    flex: 1;
    .imageDiv {
      width: 100px;
      height: 100px;
      position: relative;
      margin-left: 150px;
      img {
        height: inherit;
        width: inherit;
        object-fit: contain;
        object-position: center;
      }
    }
  }
  .navDiv {
    flex: 1;
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      li {
        list-style: none;
        font-size: 1.2rem; // 19.2 px
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 600;
        transition: color ease-in 0.5s;
        > a {
          color: $primary;
          &:hover {
            color: crimson;
          }
        }
      }
    }
  }
}

// Responsive
@media screen and (max-width: 769px) {
  .headerContainer {
    flex-direction: column;
    .logoDiv {
      .imageDiv {
        margin-left: 0px;
      }
    }
    .navDiv {
      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
  }
}
